{% load static %}
{% load crispy_forms_tags %}

<html>
    <head>
        <title>Profile Management </title>

      <link rel="stylesheet" type="text/css" href="https://bootswatch.com/5/morph/bootstrap.min.css"/>

        <link rel="stylesheet" type='text/css' href="{% static 'css/styles.css' %}"/>

    </head>
    {% include 'lynx/account-navbar.html' %}

    <br>
    <div class="container bg-white shadow-md p-5">
        <h3> Update Username and Email </h3>

        <br>
        <form method="POST" autocomplete="off">
            {% csrf_token %}
            {{user_form.username|as_crispy_field}}
            
            <br>

            {{user_form.email|as_crispy_field}}

            <br>
            <input class="btn btn-primary" type="submit" value="Update" />
        </form>
    </div>
    <div class="container bg-white shadow-md p-5 form-layout">
        <h3> Upload your Profile Picture</h3>
        <hr>
        <br>
        <form method="POST" autocomplete="off" enctype="multipart/form-data">
            {% csrf_token %}
            {{profile_form.profile_pic|as_crispy_field}}
            <br> <br>
            <input class="btn btn-primary" type="submit" value = "Update" />
        </form>

    </div>



    <div class="container bg-white shadow-md p-5 form-layout">
        <h3> Delete Your Account</h3>
        
        <a href="{% url 'delete-account' %}"> Delete Account </a>
    </div>
    <br>
    <script src ="{% static 'js/app.js' %}"></script>
</html>